#donation-header {
  display: flex;
  text-align: center;
  height: 20em;
}
#donation-header h1 {
  margin: auto;
}
#thank-you-message {
  font-family: "Jaldi";
  font-size: 1.3em;
  text-align: center;
  margin: 1em;
  padding: 2em 10%;
}

hr {
  display: block;
  height: 1px;
  background-color: rgb(255, 196, 0);
  margin: 0em 30em;
  padding: 0;
}
#looking-for-container {
  background: rgb(240, 240, 240);
  text-align: center;
  padding: 0 11%;
}
#looking-for {
  text-align: left;
  margin: auto;
  width: 69em;
  padding: 4em 0;
}
@media screen and (max-width: 736px) {
  #looking-for-container {
    padding: 0;
  }
  #looking-for {
    width: auto;
    padding: 4em;
  }
}

.donation-sub-heading {
  color: #244e91;
  width: 100%;
  margin-bottom: 1.2em;
  font-family: Acme;
}

@media screen and (max-width: 736px) {
  .donation-sub-heading {
    text-align: center;
  }
}

.list-categories {
  color: rgb(216, 166, 0);
  font-family: "Jaldi";
}

.donation-items {
  display: inline;
  padding: 10px;
  font-family: "Jaldi";
  font-size: 1.2em;
}

#package {
  margin: 7em 10em;
}
